Repository cs-pub-ro/computer-architecture, pull requests merged in 2024-11, with the labels that each got.

#22 Fix/lab5
  chapters/verilog/memory/drills/README.md
  chapters/verilog/memory/drills/tasks/ram_reader/Makefile
  chapters/verilog/memory/drills/tasks/ram_reader/ram_reader.v
  chapters/verilog/memory/drills/tasks/ram_reader/ram_reader.xdc
  chapters/verilog/memory/drills/tasks/ram_reader/tcl_files/build.tcl
  chapters/verilog/memory/drills/tasks/ram_reader/tcl_files/run.tcl
  chapters/verilog/memory/drills/tasks/ram_reader/tcl_files/simulation.tcl
  chapters/verilog/memory/drills/tasks/ram_reader/test_ram_reader.v
  chapters/verilog/memory/drills/tasks/register/Makefile
  chapters/verilog/memory/drills/tasks/register/register.v
  chapters/verilog/memory/drills/tasks/register/register.xdc
  chapters/verilog/memory/drills/tasks/register/tcl_files/build.tcl
  chapters/verilog/memory/drills/tasks/register/tcl_files/run.tcl
  chapters/verilog/memory/drills/tasks/register/tcl_files/simulation.tcl
  chapters/verilog/memory/drills/tasks/register/test_register.v
  chapters/verilog/memory/drills/tasks/sequential_multiplier/Makefile
  chapters/verilog/memory/drills/tasks/sequential_multiplier/sequential_multiplier.v
  chapters/verilog/memory/drills/tasks/sequential_multiplier/sequential_multiplier.xdc
  chapters/verilog/memory/drills/tasks/sequential_multiplier/tcl_files/build.tcl
  chapters/verilog/memory/drills/tasks/sequential_multiplier/tcl_files/run.tcl
  chapters/verilog/memory/drills/tasks/sequential_multiplier/tcl_files/simulation.tcl
  chapters/verilog/memory/drills/tasks/sequential_multiplier/test_sequential_multiplier.v
  chapters/verilog/memory/drills/tasks/task0/tcl_files/build.tcl
  chapters/verilog/memory/drills/tasks/task1/tcl_files/build.tcl
  chapters/verilog/memory/drills/tasks/task2/tcl_files/build.tcl
Labels: kind/new, area/drills

#32 Rebased fix-readme branch and added code comments
  chapters/verilog/operators/drills/README.md
  chapters/verilog/operators/drills/tasks/comparator/comparator.v
  chapters/verilog/operators/drills/tasks/mux/mux.v
  chapters/verilog/parameters/drills/README.md
  chapters/verilog/parameters/drills/tasks/adder/adder.v
  chapters/verilog/testing/drills/README.md
  chapters/verilog/testing/drills/tasks/adder_4bits/adder_4bits.v
Labels: area/drills

#33 Laborator 6 - ALU
  chapters/microprogramable_cpu/arithmetic-logic-unit/drills/README.md
  chapters/microprogramable_cpu/arithmetic-logic-unit/drills/alu/solution/alu.v
  chapters/microprogramable_cpu/arithmetic-logic-unit/drills/alu/solution/alu.xdc
  chapters/microprogramable_cpu/arithmetic-logic-unit/media/fig_ual.png
  chapters/microprogramable_cpu/arithmetic-logic-unit/media/sar.png
  chapters/microprogramable_cpu/arithmetic-logic-unit/media/sar_2.png
  chapters/microprogramable_cpu/arithmetic-logic-unit/media/shl.png
  chapters/microprogramable_cpu/arithmetic-logic-unit/media/shr.png
  chapters/microprogramable_cpu/arithmetic-logic-unit/reading/README.md
Labels: area/media, area/drills

#31 Added sequential_led7
  chapters/verilog/memory/drills/extra/led7/Makefile
  chapters/verilog/memory/drills/extra/led7/sequential_led7.v
  chapters/verilog/memory/drills/extra/led7/sequential_led7.xdc
  chapters/verilog/memory/drills/extra/led7/tcl_files/build.tcl
  chapters/verilog/memory/drills/extra/led7/tcl_files/run.tcl
  chapters/verilog/memory/drills/extra/led7/tcl_files/simulation.tcl
Labels: kind/new, area/drills

#38 CPU Interactor
  chapters/microprogramable_cpu/architecture/demos/debug_mode/Makefile
  chapters/microprogramable_cpu/architecture/demos/debug_mode/alu.v
  chapters/microprogramable_cpu/architecture/demos/debug_mode/bus.v
  chapters/microprogramable_cpu/architecture/demos/debug_mode/cpu.v
  chapters/microprogramable_cpu/architecture/demos/debug_mode/cpu_debugger_top.v
  chapters/microprogramable_cpu/architecture/demos/debug_mode/cpu_debugger_top.xdc
  chapters/microprogramable_cpu/architecture/demos/debug_mode/cpu_disp_out.v
  chapters/microprogramable_cpu/architecture/demos/debug_mode/cram.data
  chapters/microprogramable_cpu/architecture/demos/debug_mode/cram.v
  chapters/microprogramable_cpu/architecture/demos/debug_mode/register.v
  chapters/microprogramable_cpu/architecture/demos/debug_mode/registers.v
  chapters/microprogramable_cpu/architecture/demos/debug_mode/state_display.v
  chapters/microprogramable_cpu/architecture/demos/debug_mode/task0.v
  chapters/microprogramable_cpu/architecture/demos/debug_mode/task0.xdc
  chapters/microprogramable_cpu/architecture/demos/debug_mode/tcl_files/build.tcl
  chapters/microprogramable_cpu/architecture/demos/debug_mode/tcl_files/run.tcl
  chapters/microprogramable_cpu/architecture/demos/debug_mode/tcl_files/simulation.tcl
  chapters/microprogramable_cpu/architecture/demos/debug_mode/test_task0.v
  chapters/microprogramable_cpu/architecture/demos/debug_mode/uc.v
Labels: kind/new

#43 Curs8 update
  .devcontainer/devcontainer.json
  slides/courses/5/main.tex
  slides/courses/8/implementation.tex
  slides/courses/8/irqs.tex
Labels: area/slides, kind/improve

#42 feat: [labcpu] Add the fpga implementation
  common/verilog/core/clock_divider.v
  common/verilog/core/debouncer.v
  common/verilog/core/led7hex.v
  common/verilog/core/otp_button.v
  common/verilog/labcpu/Makefile
  common/verilog/labcpu/alu.v
  common/verilog/labcpu/bus.v
  common/verilog/labcpu/control_unit.v
  common/verilog/labcpu/cpu.v
  common/verilog/labcpu/cpu_debugger.v
  common/verilog/labcpu/cpu_debugger.vvp
  common/verilog/labcpu/cpu_debugger.xdc
  common/verilog/labcpu/cram.v
  common/verilog/labcpu/latex/.gitignore
  common/verilog/labcpu/latex/cheatsheet.tex
  common/verilog/labcpu/latex/nexys-a7-top.png
  common/verilog/labcpu/latex/nexys-a7-top_mod.png
  common/verilog/labcpu/register.v
  common/verilog/labcpu/registers.v
  common/verilog/labcpu/state_display.v
  common/verilog/labcpu/task0.v
  common/verilog/labcpu/tcl_files/build.tcl
  common/verilog/labcpu/tcl_files/run.tcl
  common/verilog/labcpu/tcl_files/simulation.tcl
  common/verilog/labcpu/tcl_files/vivado.tcl
  common/verilog/labcpu/test_cpu_debugger.v
  common/verilog/labcpu/test_task0.v
  common/verilog/labcpu/uc.v
  common/verilog/memory/block_dpram.v
  common/verilog/memory/regfile.v
  common/verilog/memory/register.v
Labels: enhancement, kind/new, area/infra
