Repository cs-pub-ro/computer-architecture, pull requests merged in 2024-10, with the labels that each got.

#13 Centered image
  chapters/verilog/testing/reading/README.md
Labels: area/reading, kind/improve

#14 Fixed typos
  chapters/verilog/basic/drills/README.md
  chapters/verilog/basic/reading/README.md
  chapters/verilog/behavioral/drills/README.md
  chapters/verilog/behavioral/reading/README.md
  chapters/verilog/intro/reading/README.md
  chapters/verilog/operators/reading/README.md
  chapters/verilog/parameters/drills/README.md
  chapters/verilog/parameters/reading/README.md
  chapters/verilog/testing/drills/README.md
  chapters/verilog/testing/reading/README.md
Labels: area/reading, area/drills

#17 Tuti
  chapters/verilog/basic/drills/tasks/adder_4bits/adder_4bits.v
  chapters/verilog/basic/drills/tasks/comparator/comparator.v
  chapters/verilog/basic/drills/tasks/fulladder/fulladder.v
  chapters/verilog/basic/drills/tasks/fulladder/halfadder.v
  chapters/verilog/operators/drills/README.md
  chapters/verilog/operators/reading/README.md
  chapters/verilog/parameters/drills/README.md
  chapters/verilog/testing/drills/README.md
  chapters/verilog/testing/reading/README.md
Labels: area/reading, area/drills, kind/improve

#21 Best i could do regarding the table in terms of showing the ||, i try…
  chapters/verilog/operators/reading/README.md
Labels: area/reading
